.form {
  padding: 20px;

  border: 3px double #685546;
  border-radius: 4px;

  background-color: #1C1C1C;
}

.form > .title {
  margin: 0;
  text-align: center;
}

.form > .body {
  margin: 12px 0;
}

.form > .footer {
  text-align: right;
}
