.tab-group {
  /* ... */
}

.tab-group > .body {
  /* ... */
}

.tab-group > .tabs {
  display: flex;
}

.tab-group > .tabs > .tab {
  text-decoration: none;
  outline: 0;

  display: block;
  padding: 8px 20px;
  margin-left: 4px;

  border: 3px single #685546;
  border-radius: 8px 8px 0 0;

  color: #FFF;
  background: #000;
}

.tab-group > .tabs > .tab:focus, .tab-group > .tabs > .tab:hover {
  background: #2D2D2D
}

.tab-group > .tabs > .tab.active {
  background: #72250B
}
