.character-list-item {
  display: flex;

  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;

  background: #000;
}

.character-list-item > .name {
  flex: 1;
  margin: auto;
  margin-right: 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.character-list-item > .experience {
  margin: auto 10px
}

.character-list-item > .money {
  margin: auto 10px
}

.character-list-item > .actions {
  /* ... */
}
