.landing-page {
  max-width: 640px;
  margin: 60px auto;
}

.landing-page > .logo {
  text-align: center;
}

.landing-page > .footer {
  margin-top: 8px;
  font-size: 13px;
  text-align: center;
}

.landing-page > .footer > a {
  color: #8BF;
  text-decoration: none;
}

.landing-page > .footer > a:hover, .landing-page > .footer > a:focus {
  text-decoration: underline;
}
