.label-input {
  margin: 4px 0;
  display: flex;
}

.label-input label {
  font-weight: bold;
  width: 140px;

  white-space: nowrap;
  margin: auto;
}

.label-input input {
  flex: 1;

  padding: 4px 8px;
  border-radius: 2px;

  border: 2px solid #554221;
  background: #D9C392;
  color: #1F0A00;
}
