.button {
  cursor: pointer;
  outline: 0;

  margin: 0 2px;
  padding: 4px 18px;
  border-radius: 5px;

  border: none;
  background: #000;
  color: #FFF;
}

.button::-moz-focus-inner { border: 0 }

.button:focus, .button:hover { background: #72250B }
