@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');

body {
  margin: 0px;
  color: #DEDFE1;

  background-color: #000;
  background-image: url('smoke.png')
}

body, input, select, button { font: 18px 'Vollkorn', serif }

* { box-sizing: border-box }
